h1{
text-align: center ;

}

button{
font-size: 18;
background-color: blueviolet;
border: none;
color: white;
}

.complete{
  font-size: 18;
  background-color: green;
  border: none;
  color: white;
  }

form{
  display: flex;
}
input{
  font-size: 20px;
  padding: 4px 8px;
  flex-grow: 1;
  margin-right:  16px;
}

.todo{
  width: 500px;
  margin: 60px auto;
}

.list-style{
  display: flex; 
  flex-direction: column;
}
.button-style{
  display: flex;
  justify-content: space-between;
  margin: 5px;

}

.todo-style{
  font-size: 24px;
  display: flex;
  align-self: center;
  width: auto;
  flex-grow: 1;


}